@media (min-width: 992px) {
  header {
    nav {
      label {
        span,
        span::after,
        span::before {
          display: none;
        }
      }

      .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        visibility: visible;
        position: relative;
        left: 0px;

        background-color: transparent;
        border-radius: 0;

        height: max-content;
        width: 100%;

        padding: 25px 0 5px 0;
        margin: 0;

        transition-duration: 0s;

        .logo {
          width: 160px;
          height: 56px;

          background: #d80808;
          border-radius: 27px;
        }

        .navigation-list {
          flex-direction: row;

          h2 {
            display: none;
          }

          .navigation-item {
            margin: 0 40px 0 0;

            @include text-style(400, 18px, 21px);

            &:nth-child(odd),
            &:nth-child(even) {
              width: max-content;
              height: max-content;

              border-radius: 0;

              padding: 0;
              background-color: transparent;
              color: white;

              div {
                background-color: transparent;

                border-radius: 0;

                width: max-content;
                height: max-content;
              }
            }
          }
        }

        .contact-btn {
          display: inline-block;
          background: #d80808;
          color: white;
          border-radius: 27px;
          border: none;
          padding: 13px 22px;

          @include text-style(900, 19px, 22px);
        }
      }
    }
  }
}
