header {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 640px;
  width: 100%;

  nav {
    input[type="checkbox"] {
      display: none;

      &:checked ~ .navigation {
        display: block;
        position: absolute;
        visibility: visible;
        left: 50px;
        right: 0;
        top: 70px;
        // margin: auto;
      }

      &:checked ~ label span {
        background-color: white;
        transform: rotate(-45deg);
        transition-duration: 1.5s;
        width: 40px;
        height: 6px;
      }

      &:checked ~ label span::before {
        background-color: white;
        transform: rotate(0);
        transition-duration: 1.5s;
        top: 0px;
        width: 40px;
        height: 6px;
      }

      &:checked ~ label span::after {
        background-color: white;
        transform: rotate(90deg);
        transition-duration: 1.5s;
        top: 0px;
        width: 40px;
        height: 6px;
      }
    }

    label {
      display: block;

      position: fixed;
      cursor: pointer;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }

      span,
      span::after,
      span::before {
        content: "";
        background: #d80808;
        border-radius: 11px;
        position: absolute;
        top: 40px;
        transition: 0.3s;
      }

      span::before {
        top: -13px;
        width: 50px;
        height: 7px;
        left: 0;
      }

      span {
        width: 40px;
        height: 6px;
        left: 35px;
      }

      span::after {
        top: 13px;
        width: 32px;
        height: 5px;
        left: 0;
      }
    }

    .navigation {
      color: white;

      display: block;
      background-color: rgb(175, 3, 3);
      border-radius: 31px;
      width: 295px;
      height: 468px;
      padding-top: 30px;
      position: fixed;
      visibility: hidden;
      left: 50px;
      right: 0;
      top: -100%;
      // margin: auto;
      z-index: 1;

      transition-duration: 1.5s;

      .navigation-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          text-align: center;
          margin-bottom: 40px;

          @include text-design(700, 24px, 12px);
        }

        .navigation-item {
          margin-bottom: 20px;

          text-align: center;

          box-sizing: border-box;

          @include text-style(700, 18px, 100%);

          &:nth-child(even) {
            width: 216px;
            height: 58px;

            border-radius: 13px;
            border: none;
            padding: 10px;

            background-color: #850202;

            div {
              background-color: rgba(58, 0, 0, 0.89);
              border-radius: 13px;
              width: 196px;
              height: 40px;

              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &:nth-child(odd) {
            border-radius: 13px;
            border: none;

            padding: 5px 20px;

            width: 196px;
            height: 40px;
            color: black;

            background: #e00a0a;

            div {
              background-color: rgba(148, 5, 5, 0.53);
              border-radius: 13px;
              width: 151px;
              height: 31px;

              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .contact-btn {
        display: none;
      }
    }
  }

  .hero {
    height: 640px;
    width: 100vw;

    // overflow: hidden;

    img {
      position: absolute;
    }

    .ulyana {
      left: 155px;
      top: 105px;

      width: 339px;
      height: 429px;

      transform: matrix(1, -0.03, 0.02, 1, 0, 0);
    }

    .circle {
      left: 100px;
      top: 100px;

      width: 462px;
      height: 482px;
    }

    .ellipse {
      width: 390px;
      height: 407px;

      left: 130px;
      top: 140px;
    }

    h1 {
      color: white;
    }
  }
}
